@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

body {
    font-size: 14px;
    line-height: 22px;
}

.bold {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}


/* header */

header {
    width: 100%;
    height: 170px;
}

.head {
    height: 122px;
    text-align: center;
    padding-top: 35px;
}

.head h1 {
    font-size: 50px;
}


/* header */


/* Navigation bar */

.nav {
    height: 48px;
    background-color: #383838;
    border-radius: 10px;
}

.nav ul {
    width: 75%;
    display: flex;
    list-style: none;
}

.nav ul li {
    color: beige;
    height: 48px;
}

.nav ul li button {
    padding: 5px 20px;
    color: #f5f6fa;
    height: 48px;
    background-color: #383838;
    border: 0px;
    border-radius: 10px;
}

.nav ul li button a {
    color: #f5f6fa;
}

.nav ul li button:hover {
    background-color: #B81D22;
    color: #f5f6fa;
}

.search button {
    padding: 8px;
    margin: 5px 5px;
    border-radius: 50%;
    border: 2px solid #f5f6fa;
    background-color: #2b0b0c;
}

.search input {
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    color: #383838;
}

.search i,
input {
    color: #f5f6fa;
    float: left;
}


/* Navigation bar */


/* log in and sign up */

.logIn,
.signUp {
    margin-top: 20px;
}

.btn-login button {
    margin-top: 20px;
    margin-left: 0;
    background-color: #383838;
}


/* log in and sign up */


/* Guest user form */

.content ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 20px;
}

.content ul li {
    width: 20%;
    border: 1px solid #ecf0f1;
    text-align: center;
}

.product-show {
    width: auto;
    padding: 20px 0;
}

.product-show img {
    width: 150px;
    height: 150px;
}

.product-show h5 {
    width: auto;
    height: 30px;
    font-size: 20px;
    margin: 30px 0;
}

.product-show button {
    width: 175px;
    margin-top: 14px;
    padding: 7px;
    background-color: #2c3e50;
    border-radius: 20px;
    color: #f5f6fa;
    font-size: 13px;
}

strong {
    padding-top: 20px;
    font-size: 16px;
    color: #e10c00;
}

.product-detail {
    width: max-content;
    height: auto;
}

.product-detail {
    width: max-content;
    height: auto;
}

.carousel-item img {
    width: 800px;
    height: auto;
    padding-left: 20rem;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #7f8c8d;
    border-radius: 20px;
    width: 20px;
}

#productDetail h5 {
    padding-top: 20px;
}

#productDetail p {
    padding: 10px 0;
}

#cart-show {
    background-color: #383838;
    padding: 8px;
    border-radius: 8px;
}

#cart_form i,
span {
    font-size: 25px;
    margin-left: 10px;
    color: #f5f6fa;
    background-color: #383838;
}


/* Guest user form */


/* admin form */

#admin_form {
    margin-top: 20px;
}

#bill_form {
    margin-top: 20px;
}

.add_product {
    margin-top: 20px;
}

.add_product input {
    display: flex;
    width: 95%;
    height: 40px;
    margin-bottom: 20px;
    border: solid 2px #2d363a;
    border-radius: 10px;
    font-size: 15px;
    padding-left: 20px;
    color: #383838;
}

.input {
    display: flex;
}

.input i {
    width: 30px;
    margin-right: 25px;
    margin-top: 3px;
    font-size: 30px;
}

.btn {
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
    margin-left: 55px;
}

.btn-outline-danger {
    margin-left: 5px;
}

.btn-danger,
.btn-info {
    width: 100px;
    margin-left: 0;
}

.btn-dark {
    margin-left: 0;
}

.table,
.table-bordered {
    text-align: center;
}

.logIn,
.signUp {
    margin-top: 20px;
}

.btn-login button {
    margin-top: 20px;
    margin-left: 0;
    background-color: #383838;
}


/* admin form */


/* filter-form */

#filter_form {
    width: 25%;
    margin-top: 20px;
}

.itemBrand {
    width: 290px;
    padding: 21px 0px;
    list-style: none;
    font-size: 17px;
    font-style: oblique;
    background-color: #383838;
    color: #f5f6fa;
    border: 2px solid;
    text-transform: uppercase;
    text-align: center;
}


/* filter-form */


/* Slide */

.slides {
    width: 100%;
    margin-right: 0;
    margin-top: 20px;
}

.slides img {
    width: 100%;
    height: auto;
    margin-right: 0px;
}


/* Slide */